 
		  
		}
		
		nav ul{
		  list-style-type : none;
		  margin: 0px;
		  padding: 0px;
		  height: 50px;
		}
		nav li{
		  display: inline-block;
		}
		a{
			text-decoration : none;
			font-size : 0px;
		}
		a:hover{
			font-size : 2.5em;
		}

		.titulo{
			font-family:'Castellar';font-size: 1,8em;
			color: #5E610B
		}
	
		h1,h2,h3{
		   
			color: #5E610B;
		}
		img {
			float:right;
			border-radius: 10px;
		}
					

		strong{
			color: #5E610B;
		}
		.especiall{
			font-family: 'Castellar';font-size: 1,8em;
		}
	 #introducao{
			position: relative;
		}
		#introducao p{
			width: 100%;
			float:left;
		}
		#indice{
			font-family:"Lucida Console", Monaco, monospace;
			background-color: #E1F5A9;
			color: black;
			display : inline-block;			
			float:right;
			border-radius: 5px;
			padding: 5px;
			border: 2,5px;
			border-style:double;
			border-color: #5E610B;

			
		}
		#indice h1{			
			color: inherit;
			font-size : 1em;

		}
		#indice a, li{
			text-decoration : none;
			font-weight:normal;
			color: inherit;
			font-size : 1em;
		}
		mark{ background-color: #5E610B;
			color:white;
			display:block;
			text-align:center;
			font-family:"oblique", cursive, sans-serif;
			font-style: "Franklin Gothic Demi";
			font-size: 1.5em;
			
			
			
		}
		header {
  background-color: white;
  color: #5E610B;
  padding: 15px;
   position: fixed;
   z-index:2;
      top:0;
      width:100%;

		
      
    }
		#conteudo{
		  position: absolute;
          top: 140px;
		  margin-bottom:200px;
		  margin: auto;
        }
		 
     img{
				height: 210px;
				width: 200px;
				max-width: 200px;
				border-radius: 10px;
				
			}
			
			
		   
		   div.polaroid {
				width: 90%;
				background-color: white;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				margin-bottom: 25px;
			}			

			div.container {
				text-align: center;
				padding: 8px 85px;
			}	
						.especial1{
                opacity: 0.8;
                filter: blur(4px);
                transition: 2s;
            }
            .especial1:hover{
                filter: blur(0px);
                opacity: 1.0;
            }
		   
		   
		   .textoimagens{
			color: green;
			font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
			font-size: 16px;
		}
		#1  {opacity: 0.8;
                filter: blur(4px);
                transition: 2s;
		}
		footer{
			background-color: #5E610B;
			color:white;
			display:block;
			text-align:center;
			font-family:"oblique", cursive, sans-serif;
			font-style: "Franklin Gothic Demi";
			font-size: 1.5em;
		}
		article { 
		background-color: #E1F5A9;
		color: black; 
		  padding: 15px;
  text-align: center;
  font-size: 14px;
  color:white;
			display:block;
			
		}
		
		/* Smartphones */
	header {20%}, footer, section, nav, aside, article{ width: 100%}
}
 /* Tablets */
@media only screen and (min-width: 600px) {
	section {
	  width: 50%;
	}
}
 /* Computadores */
@media only screen and (min-width: 768px) {
   
	header, footer, section, nav, aside, article
	}
}
@media only print {
    nav, aside, footer, section{
	  display:none;
	}
}